.largeButton {
  position: relative; /* Add relative positioning */
  width: 350px;
  height: 50px;
  background-color: var(--paleGreen);
  border-radius: 14px;
  text-align: left;
  color: var(--black);
  font-size: 18px;
  font-weight: 300;
  transition: background-color 0.3s ease;
  border: 2px solid var(--paleGreen);
  cursor: pointer;
}

.largeButton:hover {
  background-color: var(--lightGreen);
  border: 2px solid var(--paleGreen);
}

.arrow {
  position: absolute; /* Change to absolute positioning */
  right: 10px; /* Position to the right */
  top: 50%; /* Vertically center */
  transform: translateY(-50%); /* Adjust for vertical centering */
  font-size: 20px;
  color: var(--darkGreen);
  z-index: 1; /* Ensure it's above the button */
}
